## npm-cache when using .docker/build/bundler
/.npm-cache/

## node packages
/node_modules/

## generated distribution
/dist/

## generated coverage/test information
/coverage/
/report/

## generated report
/report/
