# git
.git/
.gitignore

# github/gitlab ci/cd
.github/
.gitlab-ci.yml

# IDE
.idea/
.vscode

# npm
node_modules/
npm-shrinkwrap.json
.npm-cache/
npm-debug.log

# misc
.docker/
.dockerignore
docker-compose.yml
tsconfig.json
.prettierignore
prettier.config.js
rollup.config.js
src/
.eslintignore
